/* Form screen */

.btn {
    margin-bottom: 20px;
    margin-right: 20px;
}

.form-container {
    margin: auto;
    width: 70%
}

.label-text {
    color: #31b131;
}

a {
    color: #31b131;
}

a:hover {
    color: #70d173;
    text-decoration: none;
}

.btn-sm, .btn-xs {
    margin-left: 6px;
    margin-right: 5px;
}
